.importar-container {
 margin-top: 100px; 
  
  /* 2. Garante que o conteúdo fique centralizado */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* 3. Evita que a tela fique "cortada" em monitores menores */
  min-height: 80vh; 
  padding: 20px;
}

/* CARD PRINCIPAL */
.importar-card {
  background-color: #efefef;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  gap: 40px;
  width: 900px;
}

/* LADO ESQUERDO */
.importar-esquerda {
  flex: 1;
}

.importar-logo {
  width: 120px;
  height: 50px;
  background-color: #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.importar-esquerda h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #000;
}

/* BOTÃO UPLOAD */
.btn-upload {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 14px 50px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-upload:hover {
  opacity: 0.85;
}

.importar-esquerda small {
  display: block;
  font-size: 12px;
  color: #333;
}

/* LADO DIREITO */
.importar-direita {
  flex: 1;
  background-color: #bfbfbf;
  border-radius: 16px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arquivo {
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.arquivo strong {
  display: block;
  font-size: 14px;
}

.arquivo span {
  font-size: 12px;
  color: #333;
}

/* BOTÃO PROCESSAR */
.btn-processar {
  background-color: #000;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-processar:hover {
  opacity: 0.85;
}
